{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{title}}</h1>
    <hr>
    <div class="row mb-3">
      <div class="col">
        <input type="text" 
               name="search"
               id="searchInput" 
               class="form-control" 
               placeholder="ค้นหารถยนต์ (ยี่ห้อ หรือ รุ่น)"
               hx-get="{{url_for('search_cars')}}"
               hx-target="#carsTable"
               hx-trigger="keyup changed delay:500ms">
      </div>
      <div class="col">
        <a href="{{url_for('new_car')}}" class="btn btn-outline-success float-end">
          <i class="bi bi-car-front-fill"></i>
          New Car
        </a>
      </div>
    </div>
    <div id="carsTable">
      {% include 'car/cars_list.html' %}
    </div>
  </div>
{% endblock %}